<h2>Starfighters of the Star Wars Universe</h2>
<table class="table table-hover table-striped">
  <thead>
    <th>Name</th>
    <th>Speed</th>
    <th>Crew</th>
    <th>Has Astromech Droid</th>
    <th>Armament</th>
    <th colspan="3"></th>
  </thead>
  <tbody>
    <% @ships.each do |ship| %>
      <tr>
        <td><%= ship.name %></td>
        <td><%= ship.speed %></td>
        <td><%= ship.crew %></td>
        <td><%= '<i class="icon-ok"/>'.html_safe if ship.has_astromech %></td>
        <td><%= ship.armament %></td>
        <td><%= link_to('<i class="icon-eye-open"/>'.html_safe, ship)  %></td>
        <td><%= link_to('<i class="icon-edit"/>'.html_safe, edit_ship_path(ship)) %></td>
        <td><%= link_to('<i class="icon-remove"/>'.html_safe, ship, :method => :delete, :confirm => "Are you sure you want to permanently delete the #{ ship.name } and all its associated Pilots?") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to("Add a Ship", new_ship_path, :class => "btn btn-primary") %>