<h1>Add a Ship</h1>
<%= form_for(@ship, :class => "form form-horizontal") do |f| %>
    <div class="controls-group">
      <%= f.label(:name, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:name, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="controls-group">
      <%= f.label(:crew, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:crew, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="controls-group">
      <%= f.label(:has_astromech, :class => "control-label") %>
      <div class="controls">
        <%= f.check_box(:has_astromech, :class => "checkbox") %>
      </div>
    </div>

    <div class="controls-group">
      <%= f.label(:speed, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:speed, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="controls-group">
      <%= f.label(:armament, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:armament, :class => "input-xlarge", :rows => "3") %>
      </div>
    </div>

    <%=  %>
<% end %>